body {
  /*background-color: gray;*/

  /*width: 100vw;
  height: 50vh;*/
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #333;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-around;

  /*overflow: hidden;*/
  bottom: 0;
  width: 100%;
  /*align-content: center;*/
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
  display: flex;
}

.agencyLogo{
  height: 70px;

}
